
#main{
    margin-top: -0.52rem;
    width: 100%;
    padding: 0 0.3rem;
    .integral-package{
        margin-right: -0.1rem;
        li{
            float: left;
            width: 3.25rem;
            height: 3.56rem;
            background: #fff;
            box-shadow: 0 2px 16px 0 rgba(0,0,0,0.11);
            border-radius: 0.13rem;
            margin-right: 0.1rem;
            margin-bottom: 0.1rem;
            position: relative;
            .red-mark{
                position: absolute;
                top: 0;
                left: 0;
                width: 1.13rem;
                height: 1.09rem;
            }
            .int-price-oripirce{
                font-size: 0.24rem;
                color: #8B8B8B;
                text-decoration: line-through;
                margin-top: 0.05rem;
                position: absolute;
                right: .2rem;
            }
        }
        .int-one{
            .int-num{
               .ali-cen{
                    display: flex;
                    align-items: center;
                    margin-top: 0.58rem;
                    justify-content: center;
                    .int-num-icon{
                        width: 0.37rem;
                        height: 0.37rem;
                        margin-right: 0.08rem;
                    }
                    .int-num-all{
                        font-size: 0.36rem;
                        margin-right: 0.06rem;
                    }
                    .int-num-unit{
                        font-size: 0.2rem;
                        color: #8B8B8B;
                        margin-top: 0.13rem;
                    }
                } 
            }
            .int-price{
                height: 0.5rem;
                margin-top: 0.86rem;
                text-align: center;
                line-height: 0.5rem;
                display: flex;
                justify-content: center;
                .int-price-spe{
                    font-size: 0.43rem;
                    color: #73D390;
                    margin-right: 0.1rem;
                    .spe-icon{
                        .spe-icon-img{
                            width: 0.21rem;
                            height: 0.24rem;
                        }
                    }
                }
            }
            .int-pay{
                display: flex;
                justify-content: center;
                .int-pay-tit{
                    background-image: linear-gradient(40deg,#73D390 0%,#7FCD6D 100%);
                    box-shadow: 0.09rem 0.07rem 0.11rem -0.01rem rgba(126,224,143,0.30);
                    border-radius: 0.07rem;
                    width: 2rem;
                    height: 0.8rem;
                    color: #fff;
                    font-size: 0.3rem;
                    margin-top: 0.14rem; 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .activity-time{
                        font-size: 0.2rem;
                        font-weight: normal;
                        display: flex;
                        align-items: center;
                        img{
                            margin:0.04rem 0.1rem 0 0;
                            width: 0.2rem;
                            height: 0.2rem;
                            vertical-align: middle;
                        }
                        span{
                            padding-top: 0.06rem;
                        }
                    }
                }
            }
        }
    }
}